@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
button{
    border:none
}
html{
    font-size: 62.5%;
}
/* @media (max-width:767px){
    html{
        font-size: 55%;
    }
}
@media (max-width:455px){
    html{
        font-size: 50%;
    }
} */
*:focus{
    outline: none;
}
body{
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    background:linear-gradient(to right bottom,#83a8df,#c3cfe2) ;
    padding:9%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:767px){
    body{
        padding:5%;
    }
}
body .color-palette{
    background-color: #fff;
    border: 1px solid lightgray;
    border-radius:12px;
    padding:4rem 2.5rem;
    box-shadow:0 10px 25px rgba(0, 0, 0, 0.3) ;
    width: min(100%,900px);
}
body .color-palette h1{
    text-align: center;
    font-size: 2.8rem;
    position: relative;
}
body .color-palette h1::after{
    content:'';
    position: absolute;
    width:50%;
    height: 3px;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: lightblue;
    border-radius: 2px;
}
body .color-palette .generate-btn{
    padding: 1.2rem 1.8rem;
    border-radius:1.2rem;
    margin: 3rem 1.5rem;
    border: none;
    font-size: 1.5rem;
    color: white;
    background:linear-gradient(45deg, #667eea, #764ba2);
    transition: .3s;
    cursor: pointer;
}
body .color-palette .generate-btn:hover{
    transform: translateY(-.3rem);
}
body .color-palette .generate-btn i{
    font-size: 1.2rem;
    margin-right: .3rem;
}
body .color-palette .colors-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(120px,1fr));
    gap: 1rem;
}
body .color-palette .colors-container .color-box{
    border-radius: .8rem;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    transition: .3s;
}
body .color-palette .colors-container .color-box:hover{
    transform: translateY(-.3rem);
}
body .color-palette .colors-container .color-box .color{
    /* border-radius: inherit; */
    height: 120px;
    cursor: pointer;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
body .color-palette .colors-container .color-box .color-info {
    padding: .9rem 1.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
body .color-palette .colors-container .color-box .color-info .hex-value {
    font-weight: 500;
    font-size: 1.3rem;
}
body .color-palette .colors-container .color-box .color-info .copy-btn{
    transition: .3s;
    cursor: pointer;
    font-size: 1.2rem;
    color: gray;
}
body .color-palette .colors-container .color-box .color-info .fa-check{
    color:green;
}
body .color-palette .colors-container .color-box .color-info .copy-btn:hover{
    color:blue
}













